<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Yen Bijak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yen Bijak</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <form [formGroup]="form" >
      <div>
        <ion-label>email</ion-label>
        <ion-input formControlName="email" type="email" class="input" placeholder="Email"></ion-input>
        
      </div>
      <div>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="password" class="input" placeholder="username"></ion-input>
    
      </div>
      <ion-button (click)="onLogin()">Login</ion-button>
    </form>

  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
